.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  position: relative;
}

.left-section,
.right-section {
  display: flex;
  gap: 10px;
}

.center-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.greeting-text {
  margin: 0;
  font-size: 22px;
  color: #2c3e50;
  white-space: nowrap;
}
